/* ============================================= */
/*              Typography                       */
/* ============================================= */

$main-font:  'Comfortaa', cursive;
$sedonc-font: 'Oxygen', sans-serif;
$tired-font: 'Source Code Pro', monospace;

h1{
    font-family: $main-font;
}